.tablist-left {
    width: 25%;
    display: inline-block;
}

.tablist-content {
    width: 60%;
    display: inline-block;
    vertical-align: top;
    margin-left: 5%;
}

.ui-page {
    background-color: #ffffff;
}

.custom-corners .ui-bar {
    text-align: center;
    -webkit-border-top-left-radius: inherit;
    border-top-left-radius: inherit;
    -webkit-border-top-right-radius: inherit;
    border-top-right-radius: inherit;
}

.custom-corners .ui-body {
    border-top-width: 0;
    -webkit-border-bottom-left-radius: inherit;
    border-bottom-left-radius: inherit;
    -webkit-border-bottom-right-radius: inherit;
    border-bottom-right-radius: inherit;
}

.float {
    float: right;
}

.floatf {
    float: left;
}

.center {
    text-align: center;
}

